QDRANT_URL=http://localhost:6333
QDRANT_API_KEY=
CHUNK_COLLECTION = CPTenderDoc
COMPANY_COLLECTION=CPDocuments
MISTRAL_API_KEY=YOUR_API_KEY

# OpenAI
OPENAI_API_KEY=OPENAI_API_KEY

# Default LLM Provider
LLM_PROVIDER=openai

# Default Model
LLM_MODEL=gpt-4.1

#loog
AGENT_LOG_API="/api/Logs/"